@import url(https://fonts.googleapis.com/css?family=Ubuntu);



.App {
  font-family: "Ubuntu";
  background: white;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(26px + 2vmin);
  color: black;
}

.App-navigator {
  background-color: white;
  padding-left: calc(30px + 2vmin);
  padding-right: calc(30px + 2vmin);
  color: black;
  align-items: left;
  text-align: justify;
}

.App-logForm {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.buttons{
  display: flex;
  padding-left: calc(30px + 2vmin);
}

.App-footer {
  background-color: whitesmoke;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: black;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
